<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Piping Layout Program</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--NAVBAR SECTION-->
    <nav class="navbar">
      <div class="navbar__container">
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__btn">
            <a href="{{ url_for('planta') }}" class="button__2" id="planta">
              Planta
            </a>
          </li>
          <li class="navbar__btn">
            <a href="{{ url_for('piperack') }}" class="button__2"> Piperack </a>
          </li>
          <li class="navbar__btn">
            <a href="{{ url_for('equipos') }}" class="button__3"> Equipos </a>
          </li>
          <li class="navbar__btn">
            <a href="{{ url_for('lineas') }}" class="button__4"> Lineas </a>
          </li>
          <li class="navbar__btn">
            <a href="{{ url_for('resultados') }}" class="button__1">
              Resultados
            </a>
          </li>
          <a href="{{ url_for('index') }}" id="navbar__logo"
            >MAJOR PIPING LAYOUT</a
          >
        </ul>
      </div>
    </nav>
    <div class="services">
      <p>Visualización de Resultados :</p>

      <div class="services__container">
        <div class="services__cont">
          <h2>REPORTE DE RESULTADOS</h2>
          <p>ARCHIVO EXCEL</p>
          <button>Descargar</button>
        </div>
        <div class="services__cont">
          <h2></h2>
          <p>ARCHIVO PDF</p>
          <button>Descargar</button>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='script.js') }}"
    ></script>
  </body>
</html>
